; 途虎养车 Token 抓包：进入途虎养车小程序积分页自动捕获登录凭据（脚本源：Sliverkiss/GoodNight）
hostname = %APPEND% api.tuhu.cn
^https:\/\/api\.tuhu\.cn\/User\/GetInternalCenterInfo url script-request-header https://raw.githubusercontent.com/Sliverkiss/GoodNight/master/Script/tuhu.js
